@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Store</h1>
    <p class="lead">A simple online catalogue where our customers can browse the products available in our virtual store.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Web Store</h2>
        <p>
            Web Store is a sample application that demonstrates the usage of the following technologies:
            <ul>
                <li>ASP.NET MVC5</li>
                <li>Entity Framework 6</li>
                <li>OAuth, OpenID with ASP.NET membership for authentication and authorization</li>
                <li>Using SSL (HTTPS) for secure access.</li>
                <li>Bootstrap templates</li>
                <li>Using <b>Azure Blob Storage</b> for saving and displaying product images.</li>
                <li>Running on <b>Microsoft Azure cloud</b>.</li>
            </ul>
        </p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Check code &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Things to do</h2>
        <p>
            The application enables the following functionality:
            <ul>
                <li>Anonymous user can browse web store for products, search products by keywords, sort products by price and name.</li>
                <li>Logged in user through social media accounts can browse web store for products.</li>
                <li>Logged in user through account <b>marijan.lovec@webstore.si:P_assw0rd1</b> can create, edit and delete products as well as categories</li>
                <li>Logged in user through account <b>admin@webstore.si:P_assword1</b> can also edit other users. The functionality for editing other users is not implemented.</li>
            </ul>
        </p>
        <p><a class="btn btn-primary" href="https://src-web-store.azurewebsites.net/Products">Try out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>As already stated the application runs in Microsoft Azure cloud.</p>
        <p><a class="btn btn-primary" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>